*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
}

/* ----------NAV---------- */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  width: 100%;
  height: 60px;
  border-bottom: #333 1px solid;
}

nav div.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

nav div.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
nav ul li a:hover, div.logo:hover {
  text-decoration: underline;
}

/* ----------HERO BANNER---------- */


.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-color: antiquewhite;
}

.banner .hero{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding: 0 150px;
}

.banner .hero h1 {
  font-size: 3rem;
  text-rendering: optimizeLegibility;
}

.banner .hero p{
  font-size: 1.5rem;
  text-rendering: optimizeLegibility;
  padding: 20px 0;
}

.banner .hero-image {
  width: 50%;
  height: auto;
  display: flex;
}

.banner div.hero div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 0 33px;
}
.banner div.hero div.buttons a {
  text-decoration: none;
  color: #fff;
  width: auto;

}

.banner div.hero div.buttons .btn {
  align-content: center;
  width:150px;
  height: 30px;
  margin: 20px 20px;
  background-color:antiquewhite;
}

#btn_white {
  background-color: #fff;
  color: #333;
}


.banner .hero div.buttons .btn:hover, #btn_white:hover {
  background-color: #000000;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.head {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    margin: 0;
    padding: 40px 20px 10px;
}

.head h2 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.4;
}
.sup p  {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  padding-bottom: 20px;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
}

.boxes .a1,.a2, .a3, .a4 {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #000;
  width: 400px;
  height: 100px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  align-items: center;
}

section.ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ready h2 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.4;
}

section.ready a.start {
  border:#000 1px solid;
  color: #000;
  padding: 10px 20px;
  margin: 10px 0 0 0;
}

section.ready a.start:hover {
  background-color: #000;
  color: #ffffff;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  width: 100%;
  height: 60px;
  font-size: small;
}

footer .f-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
}

footer .f-links a{
  color: white;
  font-size: small;
  text-decoration: none;

}
footer .f-links:hover {
  text-decoration: underline;

}