*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  /* overflow-x: hidden; */
}

/* ----------NAVIGATION---------- */

header {
  position: realative;

}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  width: 100%;
  height: 60px;
  border-bottom: #2a2a2a 1px solid;
  position: sticky;
  top: 0;
}

nav div.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

nav div.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
nav ul li a:hover, div.logo:hover {
  text-decoration: underline;
}

/* ----------HERO BANNER---------- */


.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-color: antiquewhite;
  border-bottom: #000000 2px solid;
}

.banner .hero{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding: 50px 100px 0 250px;
}

.banner .hero h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-rendering: optimizeLegibility;
}

.banner .hero p{
  font-size: 1.3rem;
  text-rendering: optimizeLegibility;
  padding: 10px 0;
}

.banner .hero-image {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.banner div.hero div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}

.banner div.hero div.buttons a {
  text-decoration: none;
  color: #fff;
  width: auto;

}

.banner div.hero div.buttons .btn {
  align-content: center;
  width:150px;
  height: 50px;
  margin: 20px 20px;
  font-size: large;
  font-weight: bold;
  background-color:antiquewhite;
  outline: none;
  border: 2px solid #000;
}

#btn_white {
  background-color: #fff;
  color: #333;
}

.banner .hero div.buttons .btn:hover, #btn_white:hover {
  background-color: #000000;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
}

.head {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    margin: 0;
    padding: 40px 20px 10px;
}

.head h2 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.4;
}

.sub p  {
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 200px 0 200px;
  padding: 30px 20px;
}

.boxes .a1,.a2, .a3, .a4 {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid #000;
  max-width: 410px;
  height: 125px;

  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  line-height: 1.5;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxes img {
  display: flex;
  width: 50px;
  height: 50px;
  object-fit: cover;
}


section.ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ready h2 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.4;
}

section.ready a.start {
  border:#000 1px solid;
  color: #000;
  padding: 10px 20px;
  margin: 10px 0 0 0;
}

section.ready a.start:hover {
  background-color: #000;
  color: #ffffff;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fff;
  width: 100%;
  height: 60px;
  font-size: small;
}

footer .f-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
}

footer .f-links a{
  color: white;
  font-size: small;
  text-decoration: none;

}
footer .f-links:hover {
  text-decoration: underline;
}

/* mobile */

@media only screen and (max-width: 600px) {
  header {
    position: relative;
  }

  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .banner {
    flex-direction: column;
    height: auto;
  }

  .banner .hero {
    width: 100%;
    padding: 20px;
  }

  .banner .hero-image {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
  }

    .banner .hero-image img {
    width: 100%;
    }

  .boxes {
    margin: 0;
    padding: 0;
  }

  .boxes .a1, .a2, .a3, .a4 {
    max-width: 90vw;
    height: auto;
    padding: 10px;
  }

}

/* tablet */
@media only screen and (min-width: 600px) {


}

/* PC */
@media only screen and (min-width: 768px) {


}